<a href="https://colab.research.google.com/github/ArtyomShabunin/SMOPA/blob/main/lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Занятие №2
# Python и библиотеки для анализа данных и математического моделирования

## Установка Python

![anaconda image](https://www.anaconda.com/wp-content/uploads/2022/12/anaconda_secondary_logo.svg)

**Anaconda** — дистрибутив языков программирования Python и R, включающий набор популярных свободных библиотек, объединённых проблематиками науки о данных и машинного обучения. Основная цель — поставка единым согласованным комплектом наиболее востребованных соответствующим кругом пользователей тематических модулей (таких как NumPy, SciPy, Astropy и других) с разрешением возникающих зависимостей и конфликтов, которые неизбежны при одиночной установке.

Программа Anaсonda представляет собой полноценную систему работы с библиотеками Python, включающую программу-установщик и набор следующих файлов.

* **Библиотеки.** Каждая из них включает определенный набор функций и объектов, предназначенный для решения конкретных задач — например, работы с массивами данных, астрономических вычислений, обработки изображений, построения и тренировки нейронных сетей, различных инженерных расчетов, статистического анализа и т.д. Всего в пакет Anaconda входит около 1500 библиотек, объединенных научной и инженерной тематикой.
* **Менеджер пакетов Conda.** Это кроссплатформенное программное обеспечение, предназначенное для установки пакетов ПО и библиотек, быстрого переключения между их версиями, загрузки и инсталляции обновлений. Conda написана на Python, но является языково-независимой, то есть может работать с проектами, написанными на любом языке программирования. Кроме того, с ее помощью можно установить и сам Python — возможность, предусмотренная далеко не во всех менеджерах пакетов, написанных на этом ЯП. Из-за того, что менеджер пакетов оказался очень удобен для решения задач, не связанных с Python, он был выделен в отдельный дистрибутив с открытым исходным кодом.
* **Менеджер виртуальной среды.** Это программа, позволяющая создавать, редактировать, удалять и отслеживать состояние виртуальных машин. Управление изолированными виртуальными средами осуществляется из единой контрольной консоли. Виртуализация используется при работе над несколькими проектами одновременно, позволяя исключить их влияние друг на друга, тем самым обеспечив высокую точность расчетов.
* **GIU Anaconda Navigator.** GUI (graphic user interface) — графический интерфейс пользователя, то есть программная оболочка, в которой можно работать с библиотеками не с помощью текстовых команд, а используя визуальные элементы, такие как блоки, модули, графики и т.д. «Анаконда Навигатор» существенно упрощает взаимодействие с библиотеками, делает работу менее однообразной и утомительной, повышает наглядность рабочего процесса.

https://www.anaconda.com/

### Установка виртуального окружения
С помощью виртуального окружения можно создать изолированный контейнер с нужными версиями под каждую задачу.  
```conda env create -f environment.yml```

## Инструмент разработки

![jupyter image](https://jupyter.org/assets/logos/rectanglelogo-greytext-orangebody-greymoons.svg)

**Jupyter Notebok** — браузерный инструмент для оформления красивой и информативной аналитики, совместного хранения кода, картинок, примечаний, диаграмм, формул и т.д.

В мире Data Science Jupyter-ноутбук уже несколько лет считается одним из популярных инструментов для анализа данных и быстрого прототипирования.

Один из плюсов этого инструмента в том, что код можно разделить на кусочки и работать над ними в любом порядке. Например, написать скрипт и сразу посмотреть, как он работает. Остальные фрагменты кода при этом запускать не нужно, результат появляется тут же, под частью кода.

```$ jupyter notebook```


<!-- ![colab image](https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Google_Colaboratory_SVG_Logo.svg/2560px-Google_Colaboratory_SVG_Logo.svg.png width="100") -->

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Google_Colaboratory_SVG_Logo.svg/2560px-Google_Colaboratory_SVG_Logo.svg.png" alt="numpy image" width="200"/>

**Google colab** - это облачный сервис от Google, который позволяет писать и выполнять Python-код в браузере без установки дополнительных программ.

Главные преимущества:

https://colab.research.google.com/rch.google.com/

## Библиотеки

<!-- ![numpy image](https://numpy.org/images/logo.svg) -->
<img src="https://numpy.org/images/logo.svg" alt="numpy image" width="100"/>

**NumPy** это open-source модуль для python, который предоставляет общие математические и числовые операции в виде пре-скомпилированных, быстрых функций. Они объединяются в высокоуровневые пакеты. Они обеспечивают функционал, который можно сравнить с функционалом MatLab. NumPy (Numeric Python) предоставляет базовые методы для манипуляции с большими массивами и матрицами.

*Входит в дистрибутив Anaconda*

<!-- ![pandas image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKPePf0eI9lrP20Ym-P0v-_B2yB6IHRoQiWw&s) -->
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKPePf0eI9lrP20Ym-P0v-_B2yB6IHRoQiWw&s" alt="pandas image" width="200"/>

**Pandas** — программная библиотека на языке Python для обработки и анализа данных. Работа pandas с данными строится поверх библиотеки NumPy, являющейся инструментом более низкого уровня. Предоставляет специальные структуры данных и операции для манипулирования числовыми таблицами и временны́ми рядами. Название библиотеки происходит от эконометрического термина «панельные данные», используемого для описания многомерных структурированных наборов информации.

*Входит в дистрибутив Anaconda*

![sklearn image](https://scikit-learn.org/stable/_static/scikit-learn-logo-small.png)

**Scikit-learn** — библиотека, предназначенная для машинного обучения, написанная на языке программирования Python и распространяемая в виде свободного программного обеспечения.

В её состав входят различные алгоритмы, в том числе предназначенные для задач классификации, регрессионного и кластерного анализа данных, включая метод опорных векторов, метод случайного леса, алгоритм усиления градиента, метод k-средних и DBSCAN. Библиотека была разработана для взаимодействия с численными и научными библиотеками языка программирования Python NumPy и SciPy.

*Входит в дистрибутив Anaconda*

<!-- ![pytorch image](https://upload.wikimedia.org/wikipedia/commons/9/96/Pytorch_logo.png) -->
<img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Pytorch_logo.png" alt="pytorch image" width="200"/>

**PyTorch** — фреймворк машинного обучения для языка Python с открытым исходным кодом, созданный на базе Torch. Используется для решения различных задач: компьютерное зрение, обработка естественного языка и т.д. Разрабатывается преимущественно группой искусственного интеллекта Facebook.

```conda install pytorch::pytorch```

<!-- ![matplotlib image](https://matplotlib.org/_static/logo_light.svg) -->
<img src="https://matplotlib.org/_static/logo_light.svg" alt="matplotlib image" width="200"/>

**Matplotlib** — библиотека на языке программирования Python для визуализации данных двумерной и трёхмерной графикой. Получаемые изображения могут быть использованы в качестве иллюстраций в публикациях.

*Входит в дистрибутив Anaconda*

<img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Plotly-logo.png" alt="plotly image" width="200"/>

**Plotly** — библиотека для визуализации данных. Plotly позволяет строить интерактивные визуализации. С помощью Plotly можно как изучать какие-то данные «на лету» (не перестраивая график в matplotlib, изменяя масштаб, включая/выключая какие-то данные), так и построить полноценный интерактивный отчёт (дашборд).

*Входит в дистрибутив Anaconda*

## Данные

Импортируем библиотеку. Pandas обычно импортируется как `pd`:

In [1]:
import pandas as pd

#### Pandas Series

Одной из основных структур данных в библиотеке Pandas является Pandas Series. Элемент Pandas Series похож на столбец в таблице: это одномерный массив, содержащий данные любого типа.

Элементы Pandas Series помечаются номерами индексов. Первое значение имеет индекс 0, второе - индекс 1 и т. д.

Заведем столбец Series из обычного питоновского массива:

In [30]:
a = [1, 7, 2]
series = pd.Series(a)
series

0    1
1    7
2    2
dtype: int64

Доступ к элементам

In [31]:
print(series.loc[0])
print(series.iloc[0])
print(series.shape)

1
1
(3,)

In [32]:
series = pd.Series(a, index = ["x", "y", "z"])

In [34]:
print(series.loc["y"])
print(series.iloc[1])
print(series.shape)

7
7
(3,)

Срез

In [36]:
series.iloc[1:]

y    7
z    2
dtype: int64

In [40]:
series.loc["y":]

y    7
z    2
dtype: int64

#### Pandas DataFrame

Столбец — это хорошо, но мы чаще работаем с целыми таблицами данных (наборами столбцов). Тип данных, соответствующий таблице — DataFrame.

Pandas DataFrame - это двумерная структура данных, подобная двумерному массиву или таблице со строками и столбцами. Иными словами, Pandas Series - это один столбец таблицы, а DataFrame - это вся таблица.

In [4]:
!gdown 17YX6P0YMTx12oNVPcuwGAQgKLOkA5Efy
!gdown 17_utMiYF01v1eDJeqkua8JNDzlQ6_pBe

Downloading...
From: https://drive.google.com/uc?id=17YX6P0YMTx12oNVPcuwGAQgKLOkA5Efy
To: /content/turbohackathon_task2_df2.csv
100% 64.7k/64.7k [00:00<00:00, 74.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=17_utMiYF01v1eDJeqkua8JNDzlQ6_pBe
To: /content/turbohackathon_task2_df1.csv
100% 555k/555k [00:00<00:00, 88.5MB/s]

In [8]:
df1 = pd.read_csv('./turbohackathon_task2_df1.csv')
df2 = pd.read_csv('./turbohackathon_task2_df2.csv')

In [9]:
df1.head()

,data,TG4_kWhr,TG5_kWhr,TG6_kWhr,TG9_kWhr,TG10_kWhr,sum_kWhr,B_1e3m3,Q_gcalhr
0,2023-01-01 00:00:00.000,0.0,53088.0,47988.0,98208.0,0.0,199284.0,93.67,169
1,2023-01-01 01:00:00.000,0.0,53088.0,48012.0,98192.0,0.0,199292.0,93.72,167
2,2023-01-01 01:59:59.990,0.0,53097.6,48024.0,98176.0,0.0,199297.6,93.79,165
3,2023-01-01 02:59:59.985,0.0,53068.8,47832.0,96992.0,0.0,197892.8,92.62,156
4,2023-01-01 03:59:59.980,0.0,53088.0,47772.0,96320.0,0.0,197180.0,92.23,151

In [10]:
df2.head()

,date,TG4,TG5,TG6,TG9,TG10,SB4,SB5,SB6,SB8,...,tower_5a,tower_5b,tower_6a,tower_6b,tower_7a,tower_7b,Ifwp_kWhrton,tamb,WB,Gfw
0,2023-01-01,0,1,1,1,0,0,0,1,1,...,1,1,1,1,0,0,7.35,-6.4,0,1124.625000
1,2023-01-02,0,1,1,1,0,0,0,1,1,...,1,1,1,1,0,0,7.38,-2.6,0,1112.958333
2,2023-01-03,0,1,1,1,0,0,2,2,1,...,1,1,1,1,0,0,7.63,-1.7,0,1101.333333
3,2023-01-04,0,1,1,1,0,0,1,0,1,...,1,1,1,1,0,0,7.34,-3.5,0,1109.875000
4,2023-01-05,0,1,1,1,0,0,1,0,1,...,1,1,1,1,0,0,7.24,-11.9,0,1154.833333